node_modules/
dist/
.DS_Store
.env
.vscode/
.idea/
.env.production
.env.development


# Demo UI project artifacts
demo_ui/node_modules/
demo_ui/.next/
demo_ui/out/

# Python artifacts
__pycache__/
.venv/
python/.venv/
